{% extends 'index.html' %}

{% block header %}
<strong>Docker</strong>
{% endblock %}

{% block content %}
<h2>== Nome do Container ==</h2>
<ul class="list-group mt-3">
  <li class="list-group-item">
    <div class="row">
      <div class="col-2 text-center">
        <i class="fas fa-hashtag"></i>
      </div>
      <div class="col-10">
        == ID do Container ==
      </div>
    </div>
  </li>
  <li class="list-group-item">
    <div class="row">
      <div class="col-2 text-center">
        <i class="fas fa-film"></i>
      </div>
      <div class="col-10">
        == Imagem do Container ==
      </div>
    </div>
  </li>
  <li class="list-group-item">
    <div class="row">
      <div class="col-2 text-center">
        <i class="fas fa-chart-bar"></i>
      </div>
      <div class="col-10">
        == Status do Container ==
      </div>
    </div>    
  </li>
</ul>
<div class="float-right mt-3">
  <a class="btn btn-secondary mr-2" href="/docker/stop" title="Parar Container">Parar</a>
  <a class="btn btn-primary" href="/docker/start" title="Iniciar Container">Iniciar</a>
</div>
{% endblock %}