{% extends 'index.html' %}

{% block header %}
<strong class="navbar-brand">Docker</strong>
{% endblock %}

{% block content %}
<table class="table table-hover table-dark">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Imagem</th>
      <th scope="col">Status</th>
      <th scope="col">Ações</th>
    </tr>
  </thead>
  <tbody>
    {% for c in context.containers %}
   
    <td>
    <th scope="row">{{c.short_id}}</th>
    <td>{{c.status}}</td>
    <td>{{c.image.tags[0]}}</td>
    <td>
    <div class='row'>
      <div class='col-6'>
      <a href="/docker/start/{{c.short_id}}">
        <i class="fas fa-play"></i>
      </a>
      </div>
      <div class='col-6'>
      <a href="/docker/stop/{{c.short_id}}">
        <i class="fas fa-stop"></i>
      </a>
      </div>
    </div>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}