{% extends 'index.html' %}

{% block header %}

    <strong>Gitlab</strong>
 
{% endblock %}

{% block content %}
<section id="users" class="{{ 'hidden' if context.current_tab == 'projects' else '' }}">
  <header class="mb-3">
    <h2>Usuários</h2>
  </header>
  <table class="table table-hover table-striped">
    <thead class="thead-dark">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nome</th>
        <th scope="col">Dono</th>
        <th scope="col">Commits</th>
      </tr>
    </thead>
    <tbody>
    {% for p in context.projects %}
      <tr>
        <td>{{ p.id }}</td>
        <td>{{ p.name}}</td>
        <td>{{ p.owner.name }}</td>
        <td>{{ p.commits }}
          <a href="/gitlab/{{p.id}}/commits">
            <i class= "fas fa-book-open"></i>
          </a>
        </td>
      </tr>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</section>
<section id="projects" class="{{ 'hidden' if context.current_tab == 'users' else '' }}">
  <header class="mb-3">
    <h2>Commits</h2>
  </header>
  <table class="table table-hover table-stripped">
    <tread class="tread-dark">
      <tr>
    </thread>
    <tbody>
    {% for c in context.commits %}
    <tr>
      <td>{{ c.author_name }}</td>
      <td>{{ c.message }}</td>
      <td>{{ c.authored_date }}</td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
</section>
{% endblock %}