{% extends 'index.html' %}

{% block header %}
<div class="row">
  <div class="col-1">
    <strong class="navbar-brand">Gitlab</strong>
  </div>
  <div class="col-8">
    <nav>
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link {{ 'active' if context.current_tab == 'users' else '' }}" href="/gitlab?current_tab=users">Usuários</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{ 'active' if context.current_tab == 'projects' else '' }}" href="/gitlab?current_tab=projects">Projetos</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
{% endblock %}

{% block content %}
<section id="users" class="{{ 'hidden' if context.current_tab == 'projects' else '' }}">
  <header>
    <h2>Usuários</h2>
  </header>
  <table class="table table-hover table-striped">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Email</th>
        <th scope="col">Usuário</th>
        <th scope="col">Status</th>
        <th scope="col">Admin</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>== Email do Usuário ==</td>
        <td>== Nome do Usuário ==</td>
        <td>== Status do Usuário ==</td>
        <td>== Usuário é Admin ==</td>
      </tr>
    </tbody>
  </table>
</section>
<section id="projects" class="{{ 'hidden' if context.current_tab == 'users' else '' }}">
  <header>
    <h2>Projetos</h2>
  </header>
  <table class="table table-hover table-striped">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Nome do Projeto</th>
        <th scope="col">Link SSH</th>
        <th scope="col">Dono</th>
        <th scope="col">Caminho</th>      
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>== Nome do Projeto ==</td>
        <td>== SSH do Usuário ==</td>
        <td>== Username do Dono do Projeto ==</td>
        <td>== Caminho do Projeto ==</td>      
      </tr>
    </tbody>
  </table>
</section>
{% endblock %}